@model IEnumerable<Phoenix_Tracing.Models.Help_request>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Phoenix Tracing İş takip Uygulaması Periyodik İş">
    <title>Phoenix Tracing</title>

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--Home CSS-->
    <link href="~/Content/Home/Work_5/Home_Css_Work5.css" rel="stylesheet" />
    <!--home css-->
    <!--Help Request CSS-->
    <link href="~/Content/Help_Request/Work_2/HelpRequest_Css_Work2.css" rel="stylesheet" />
    <!--help Request css-->
    <!--Help Request List CSS-->
    <link href="~/Content/HelpRequestList/Work_2/HelpRequestList_Css_Work2.css" rel="stylesheet" />
    <!--help Request List CSS-->
    <!--Operation Requests CSS-->
    <link href="~/Content/Operation_Request/Work_4/OperationRequest_Css_Work4.css" rel="stylesheet" />
    <!--operation Requests css-->
    <!--Operation Request List CSS-->
    <link href="~/Content/OperationRequestList/Work_2/OperationRequestList_Css_Work2.css" rel="stylesheet" />
    <!--operation Request List CSS-->
    <!--Periodic Request CSS-->
    <link href="~/Content/Periodic_Requests/Work_2/PeriodicRequest_Css_Work2.css" rel="stylesheet" />
    <!--periodic Request CSS-->
    <!--Periodic Request List CSS-->
    <link href="~/Content/PeriodicRequestList/Work_2/PeriodicRequestList_Css_Work2.css" rel="stylesheet" />
    <!--periodic Request List CSS-->
    <!--Profile CSS-->
    <link href="~/Content/Profil/Work1/Profile/Work_2/Profile_Css_Work2.css" rel="stylesheet" />
    <!--profile CSS-->
    <!--Profile Edit CSS-->
    <link href="~/Content/Profil/Work1/Profile_Edit/Work_2/ProfileEdit_Css_Work2.css" rel="stylesheet" />
    <!--profile Edit CSS-->

</head>

<body>

    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Home JavaScript-->
    <script src="~/Content/Home/work_3/Ana_Sayfa_Grafik.js"></script>
    <script src="~/Content/Home/work_3/Home_LogOut.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!--home javaScript-->

    <!--Help_Request JavaScript-->
    <script src="~/Content/Help_Request/Work_1/Send_data.js"></script>
    <!--help_Request javaScript-->

    <!--Help Request List JavaScript-->
    <!--help Request List JavaScript-->

    <!--Operation Requests JavaScript-->
    <script src="~/Content/Operation_Request/Work_3/Send_Operation_data.js"></script>
    <script src="~/Content/Operation_Request/Work_3/Send_Address_data.js"></script>
    <!--operation Requests javaScript-->

    <!--Operation Request List JavaScript-->
    <!--operation Request List JavaScript-->

    <!--Operation Report-->
    <script src="~/Content/OperationRequestList/Report/report.js"></script>
    <!--operation Report-->

    <!--Periodic Request JavaScript-->
    <script src="~/Content/Periodic_Requests/Work_1/Send_Address_data.js"></script>
    <script src="~/Content/Periodic_Requests/Work_1/Send_Periodic_data.js"></script>
    <!--periodic request JavaScript-->

    <!--Periodic Request List JavaScript-->
    <script src="~/Content/PeriodicRequestList/Work1/yapilacakIsler.js"></script>
    <script src="~/Content/PeriodicRequestList/Work1/yapilanlar.js"></script>
    <!--periodic Request List JavaScript-->

    <!--PeriodicReport-->
    <script src="~/Content/PeriodicRequestList/Report/report.js"></script>
    <!--periodicReport-->

    <!--Profile JavaScript-->
    <!--profile JavaScript-->

    <!--Profile Edit JavaScript-->
    <script src="~/Content/Profil/Work1/Profile_Edit/Work_1/AddressEdit.js" type="text/javascript"></script>
    <script src="~/Content/Profil/Work1/Profile_Edit/Work_1/User_Information_Edit.js"></script>
    <script src="~/Content/Profil/Work1/Profile_Edit/Work_1/Address_Information_Edit.js"></script>
    <script src="~/Content/Profil/Work1/Profile_Edit/Work_1/Send_Address_data.js"></script>
    <!--profile Edit JavaScript-->

</body>
</html>