<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Content/Changless/Work_3/welcomePage_17.css" rel="stylesheet" />*@

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Phoenix Tracing İş takip Uygulaması Periyodik İş">
    <title>Phoenix Tracing</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link href="~/Content/LandingPage/style.css" rel="stylesheet" />

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light text-white fixed-top">
            <a class="navbar-brand" href="#">
                <img src="~/Content/LandingPage/medias/banner/logo.png" width="60px" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#home">ANASAYFA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#about">HAKKINDA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#contact">İLETİŞİM</a>
                    </li>
                </ul>
                <div>
                    <button class="btn login-btn text-white" onclick="window.location.href='/Login/Index/'">
                        GİRİŞ
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-white mt-5 mb-5">
                    <section class="welcome_page__container" id="home">
                        <div class="text-center">
                            <img class="mt-200" src="~/Content/LandingPage/medias/banner/logo.png" width="200px" alt="" />
                        </div>

                        <div class="home_page_title text-center">
                            <h1>PHOENIX TRACING HOŞGELDİNİZ</h1>
                        </div>

                        <p class="text-center mt-5">
                            Phoenix Tracing, iş takip ve bakım uygulamasıdır. Büyük ve küçük çaplı işletmelerin
                            yönetiminde yardımcı olur. Destek, iş ve periyodik bakımlarınızı takip edebilmenize olanak
                            sağlar. Böylece işlerinizi ve ekipmanlarınızı daha uzun ömürlü kullanabilir ve takip
                            edebilirsiniz.
                        </p>
                    </section>


                    <section class="about__container" id="about">

                        <h1 class="about_title text-center mt-200">HAKKINDA</h1>

                        <div class="row">
                            <div class="col-sm-12 col-lg-4 mb-4 text-center">
                                <div class="about_card_container">
                                    <div class="w-100 mb-4">
                                        <img src="~/Content/LandingPage/medias/banner/support_solid I.png" alt="" width="150px" />
                                    </div>
                                    Web sitemiz aracılığıyla şirketinizi sisteme kayıt ederek periyodik bakım desteği
                                    alabilir,
                                    spesifik iş talep edebilir ya da destek talep edebilirsiniz. Ayrıca yapılan işlerin
                                    detaylı
                                    raporlarına erişerek kontrol sağlayabilirsiniz.
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 mb-4 text-center">
                                <div class="about_card_container">
                                    <div class="w-100 mb-4">
                                        <img src="~/Content/LandingPage/medias/banner/eCommerce_solid III.png" alt="" width="150px">
                                    </div>
                                    Masaüstü uygulamamız aracılığıyla destek sağladğınız müşterilerinizle kolayca
                                    iletişime
                                    geçebilirsiniz. Müşterilerinizden gelen talepleri görüntüleyebilir ve bu talepleri
                                    hızlı bir
                                    şekilde ilgili birimlere yönlendirebilirsiniz.
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 mb-4 text-center">
                                <div class="about_card_container">
                                    <div class="w-100 mb-4">
                                        <img src="~/Content/LandingPage/medias/banner/process_outline III.png" alt="" width="150px">
                                    </div>
                                    Mobil uygulamamız aracılığıyla firmadan yönlendirilen işleri görüntüleyebilirsiniz.
                                    Hazırlanmış iş adımlarını takip ederek hızlı ve güvenli bir şekilde işi
                                    bitirebilirsiniz.
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container mb-5">
            <h1 class="contact__title">İLETİŞİM</h1>
            <div class="row">
                <div class="col-sm-12 col-lg-6 text-white mb-5">
                    <section class="contact__container">
                        <h3>Bizimle iletişime geçebilirsiniz!</h3>

                        <div>Telefon Numarası: 555 55 55</div>
                        <div>E-mail: phoenixtracing@gmail.com</div>
                        <div>Address: Phoenix mahallesi anka sokak numara 12</div>

                        <div class="map_container mt-4">
                            <iframe class="map" allowfullscreen="" loading="eager"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d543448.7163168979!2d10.581585411587344!3d44.346785201324046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc3952c3f627d%3A0x93da063cd3eb6356!2s40019%20Santa%20Agata%2C%20Bolonya%2C%20%C4%B0talya!5e0!3m2!1str!2str!4v1646837864483!5m2!1str!2str">
                            </iframe>

                        </div>
                    </section>
                </div>

                <div class="col-sm-12 col-lg-6 text-white mb-5">
                    <section class="contact__container contact-mobile-container" id="contact">
                        <div class="input-control mb-3">
                            <input type="text" class="form-control" placeholder="İsim" name="" id="contact_fullName" required>
                        </div>

                        <div class="input-control mb-3">
                            <input type="email" class="form-control" placeholder="Email" name="" id="contact_mail" required>
                        </div>

                        <div class="input-control mb-3">
                            <input type="tel" class="form-control" placeholder="Telefon" name="" id="contact_phone" required>
                        </div>

                        <div class="input-control mb-3">
                            <input type="text" class="form-control" placeholder="Konu" name="" id="contact_message_title" required>
                        </div>

                        <div class="input-control mb-3">
                            <textarea type="text" class="form-control" placeholder="Mesaj" name="" rows="5" id="contact_message" required></textarea>
                        </div>

                        <button type="submit" class="btn contact_btn w-100 text-white" id="destek_talebinde_bulun">Gönder</button>

                    </section>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

    <script src="~/Content/LandingPage/SendData_Contact.js"></script>
</body>
</html>